.record-view{
    margin: 1rem;
    padding: 0rem 1.5rem;
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    cursor: pointer;

    &:first-child {
        margin-top: 6px;
    }
    
    &:last-child {
        margin-bottom: 6px;
    }

    p {
        margin: 0.5rem 1rem;
    }
}

.selected {
    background-color: purple;
    color: white;

    img {
        color: white;
    }
}